.l-contents {
  line-height: 2;
  overflow: hidden;
  position: relative;
  z-index: 10;
  backface-visibility:hidden;
  @include fontSizeAll(14, 14, 12);
  letter-spacing: 0.06em;
  &.is-fixed {
    position: fixed;
    top: 0; right: 0; left: 0;
  }
}
