block vars

include ../_mixin/_common.pug
include ../_mixin/_svg.pug

doctype html
html(lang="ja")
  head
    include ./_head.pug
  body
    .l-page.js-pjax-page(data-page-id=page.id)
      .l-dummy-scroll.js-dummy-scroll
      include ./_global.pug
      .l-contents.js-contents.js-pjax-contents
        .l-contents__in.js-contents-in
          block contentStatic
    block script
    script(src=data.meta.path + "/js/main.js" async)
